.importance1 {
  width: 2em !important;
  height: 2em !important;
  line-height: 1em !important; }

.importance2 {
  width: 4em !important;
  height: 4em !important;
  line-height: 2em !important; }

.importance3 {
  width: 6em !important;
  height: 6em !important;
  line-height: 3em !important; }

.importance4 {
  width: 8em !important;
  height: 8em !important;
  line-height: 4em !important; }

.importance5 {
  width: 10em !important;
  height: 10em !important;
  line-height: 5em !important; }

.importance6 {
  width: 12em !important;
  height: 12em !important;
  line-height: 6em !important; }

.importance7 {
  width: 14em !important;
  height: 14em !important;
  line-height: 7em !important; }

.importance8 {
  width: 16em !important;
  height: 16em !important;
  line-height: 8em !important; }

.importance9 {
  width: 18em !important;
  height: 18em !important;
  line-height: 9em !important; }

.importance10 {
  width: 20em !important;
  height: 20em !important;
  line-height: 10em !important; }

.importance11 {
  width: 22em !important;
  height: 22em !important;
  line-height: 11em !important; }

.importance12 {
  width: 24em !important;
  height: 24em !important;
  line-height: 12em !important; }

.importance13 {
  width: 26em !important;
  height: 26em !important;
  line-height: 13em !important; }

.importance14 {
  width: 28em !important;
  height: 28em !important;
  line-height: 14em !important; }

.importance15 {
  width: 30em !important;
  height: 30em !important;
  line-height: 15em !important; }

.importance16 {
  width: 32em !important;
  height: 32em !important;
  line-height: 16em !important; }

.importance17 {
  width: 34em !important;
  height: 34em !important;
  line-height: 17em !important; }

.importance18 {
  width: 36em !important;
  height: 36em !important;
  line-height: 18em !important; }

.importance19 {
  width: 38em !important;
  height: 38em !important;
  line-height: 19em !important; }

.importance20 {
  width: 40em !important;
  height: 40em !important;
  line-height: 20em !important; }

.importance21 {
  width: 42em !important;
  height: 42em !important;
  line-height: 21em !important; }

.importance22 {
  width: 44em !important;
  height: 44em !important;
  line-height: 22em !important; }

.importance23 {
  width: 46em !important;
  height: 46em !important;
  line-height: 23em !important; }

.importance24 {
  width: 48em !important;
  height: 48em !important;
  line-height: 24em !important; }

.importance25 {
  width: 50em !important;
  height: 50em !important;
  line-height: 25em !important; }

.importance26 {
  width: 52em !important;
  height: 52em !important;
  line-height: 26em !important; }

.importance27 {
  width: 54em !important;
  height: 54em !important;
  line-height: 27em !important; }

.importance28 {
  width: 56em !important;
  height: 56em !important;
  line-height: 28em !important; }

.importance29 {
  width: 58em !important;
  height: 58em !important;
  line-height: 29em !important; }

.importance30 {
  width: 60em !important;
  height: 60em !important;
  line-height: 30em !important; }

.importance31 {
  width: 62em !important;
  height: 62em !important;
  line-height: 31em !important; }

.importance32 {
  width: 64em !important;
  height: 64em !important;
  line-height: 32em !important; }

.importance33 {
  width: 66em !important;
  height: 66em !important;
  line-height: 33em !important; }

.importance34 {
  width: 68em !important;
  height: 68em !important;
  line-height: 34em !important; }

.importance35 {
  width: 70em !important;
  height: 70em !important;
  line-height: 35em !important; }

.importance36 {
  width: 72em !important;
  height: 72em !important;
  line-height: 36em !important; }

.importance37 {
  width: 74em !important;
  height: 74em !important;
  line-height: 37em !important; }

.importance38 {
  width: 76em !important;
  height: 76em !important;
  line-height: 38em !important; }

.importance39 {
  width: 78em !important;
  height: 78em !important;
  line-height: 39em !important; }

.importance40 {
  width: 80em !important;
  height: 80em !important;
  line-height: 40em !important; }

.importance41 {
  width: 82em !important;
  height: 82em !important;
  line-height: 41em !important; }

.importance42 {
  width: 84em !important;
  height: 84em !important;
  line-height: 42em !important; }

.importance43 {
  width: 86em !important;
  height: 86em !important;
  line-height: 43em !important; }

.importance44 {
  width: 88em !important;
  height: 88em !important;
  line-height: 44em !important; }

.importance45 {
  width: 90em !important;
  height: 90em !important;
  line-height: 45em !important; }

.importance46 {
  width: 92em !important;
  height: 92em !important;
  line-height: 46em !important; }

.importance47 {
  width: 94em !important;
  height: 94em !important;
  line-height: 47em !important; }

.importance48 {
  width: 96em !important;
  height: 96em !important;
  line-height: 48em !important; }

.importance49 {
  width: 98em !important;
  height: 98em !important;
  line-height: 49em !important; }

/*# sourceMappingURL=contactsSizeDummy.css.map */
