<!doctype html>
<html>
<head>
    <title>Shribe</title>
    <% include ../partials/head %> <!-- general meta data, css files -->
    <link rel="stylesheet" href="files/css/chat.css">
    <link rel="stylesheet" href="files/css/landing.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div id="landing">
            <div id="landingContent">
                <h1><span class="fa fa-sign-in"></span> 404 - Shribe-Fehler</h1>

                <!-- <p>Or go <a href="/">home</a>.</p> -->
            </div>
        </div>
    </div> <!-- END ROW -->
</div> <!-- END CONTAINER -->

<footer>
    <% include ../partials/footer %> <!-- jquery and general script file -->
</footer>
</div>
</body>
</html>