<!doctype html>
<html>
<head>
    <title>Shribe</title>
    <% include ../partials/head %>
    <!-- general meta data, css files -->
    <link rel="stylesheet" href="files/css/chat.css">
    <link rel="stylesheet" href="files/css/landing.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div id="landing">
            <div id="landingContent">
                <h1><span class="fa fa-lock"></span> Shribe Authentication</h1>

                <p>Login or Register</p>
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
            </div>
        </div>
    </div>
    <!-- END ROW -->
</div>
<!-- END CONTAINER -->

<footer>
    <% include ../partials/footer %>
    <!-- jquery and general script file -->
</footer>
</body>
</html>